@font-face{font-family:Chunk;src:url(/assets/chunk.woff);font-weight:400}
h1 {
	font-family: 'Chunk';
	font-size: 5em;
	margin-bottom: 0;
}
body {
	font-family: 'Lato';
	font-size: 2em;
}
ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	p {
		line-height: 2em;	
		margin: 0;
	}
	padding: 0.4em;
	padding-left: 20%;
}
a {
	text-decoration: none;
}

.game {
	#board {
		background-color: rgb(192, 255, 192);
		.status-msg {
			min-height: 3em;
		}
	}
	#hero {
		background-color: rgb(255, 217, 148);
	}
	
	#player-list {
		.left {
			width:  30%;
			.stack {
				font-size: 1.2em;
			}
		}
		.is-dealer {
			visibility: hidden;
			color: blue;
		}
		.dealer .is-dealer {
			visibility: visible;
			color: red;
		}
		div.left, div.right {
			display: inline-block;
		}
		span.put_in {
			width: 20%;
			background-color: #ccf;
			color: #fff;
			text-align: center;
		}
			.last-action.call {
				background-color: orange;
			}
			.last-action.bet, .last-action.raise {
				background-color: red;
			}
		span.last-action {
			margin-left: 2em;
		}
		li.folded {
			background-color: #ccc;
		}
		li.acting {
			border: 1px solid red;
		}
	}

	.board-cards, .hero-cards {
		line-height: 0;
		font-size: 0;
		min-height: 120px;
	}
	.pot {
		position: relative;
		left: 20%;
	}
}
