@font-face{font-family:Chunk;src:asset-url('chunk.woff', font);font-weight:400}

$call: rgb(255, 153, 0);
$check: rgb(241, 219, 57);
$bet: rgb(241, 57, 57);
$raise: rgb(241, 57, 57);
$dealer-button: rgb(0, 82, 185);
$background: rgb(240,240,250);

@mixin simple_button($bg) {
  background: $bg;
  $color: black;
  border-bottom: .2em solid darken($bg, 15);
  position: relative;
  @if lightness($bg) > 68% {
    $color: desaturate(darken($bg, 35), 70);
  }
  @else {
    $color: lighten($bg, 35);
  }
	color: $color;
	box-shadow: none;
	&:hover {
		cursor: default;
	}
}

h1 {
	font-family: 'Chunk';
	font-size: 3.5em;
	margin-bottom: 0;
	font-weight: normal;
	img {
		height: 1em;
		margin-right: 0.4em;
	}
}

body {
	background: $background;
	font-family: 'Lato';
	font-size: 1.2em;
}

ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	p {
		line-height: 2em;	
		margin: 0;
	}
	padding: 0.4em;
	padding-left: 10%;
}
a {
	text-decoration: none;
}

.game {
	#board {
		background-color: rgb(192, 255, 192);
		.status-msg {
			font-size: 1.6em;
			font-weight: bold;
			height: 3rem;
			text-shadow: 2px 2px 5px #999;
		}
	}
	#hero {
		overflow: hidden;
		.hero-cards{
			width: 160px;
			float: left;
		}
		.hero-info {
			overflow:hidden;
			.hand-type {
				font-size: 1.4em;
				font-weight: bold;
			}
		}
		.action-bar {
			clear: both;
			span {
				margin-right: 0.5rem;
			}
		}
		&.not-acting {
			.button-fold, .button-call, .button-bet {
				@include simple_button(#cccccc);
			}
		}
		background-color: rgb(255, 217, 148);
	}
	
	#player-list {
		.left {
			width:  30%;
			.stack {
				font-size: 1.2em;
			}
		}
		.is-dealer {
			visibility: hidden;
			color: blue;
		}
		.dealer .is-dealer {
			visibility: visible;
			color: red;
		}
		$container-height: 3em;
		div.container {
			height: $container-height;
		}
		div.left {
			float: left;
			width: 15%;
		}
		.dealer-button {
			float: left;
			width: 10%;
		}
		.hole-cards {
			float: left;
			width: 10%;
			visibility: hidden;
		}
		&.showdown .hole-cards {
			visibility: visible;
		}
		.last-action-type {
			float: left;
			width: 10%;
		}
		div.right {
			float: right;
			width: 50%;
		}
		.dealer-button, .right, .last-action-type {
			line-height: 2.6em;
		}
		.dealer-button span.is-dealer {
				border-radius: 40px;
				background-color: $dealer-button;
				color: #fff;
				border: 3px dotted #ccc;
				padding: 0.35em 0.7em 0.35em 0.75em;
		}
		.last-action .action{
				border-radius: 40px;
				padding: 8px;
				margin-right: 1em;
		}
		.last-action .put_in {
			border-radius: 40px;
			padding: 0.35em 0.7em 0.35em 0.75em;
			border: 3px dotted #000;
		}
		.last-action {
				&.call {
					.action, .put_in {
						background-color: $call;
					}
				}
				&.check {
					.action, .put_in {
						background-color: $check;
					}
				}
				&.bet, &.raise {
					.action, .put_in {
						background-color: $bet;
					}
				}
		}
		li {
			border-left: 12px solid $background;
		}
		li.folded {
			border-left: 12px solid #ccc;
			background-color: #ccc;
		}
		li.acting {
			.name {
				font-weight: bold;
			}
			border-left: 12px solid red;
		}
	}

	.board-cards, .hero-cards {
		line-height: 0;
		font-size: 0;
		img {
			margin-right: 0.2rem;
		}
	}

	.board-cards {
		height: 6.4rem;
		img {
			height: 6rem;
		}
	}
	.hero-cards {
		height: 5.5rem;
		img {
			height: 5rem;
		}
	}
	.hole-cards {
		img {
			height: 3em;
		}
	}
	.pot {
		position: relative;
		left: 20%;
	}
}

#lobby {
	table {
		margin-left: 10%;
		margin-top: 4rem;
		font-size: 1.2rem;
		line-height: 1.6rem;
		td {
			vertical-align: top;
			padding-bottom: 2rem;
			padding-right: 1em;
		}
	}
}
